<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div>
                <div class="card-header">
                    <h3 class="card-title">Technician Form</h3>
                </div>
                <!--begin::Form-->
                <form class="form" [formGroup]="techForm">
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-lg-4">
                                <label>User:</label>
                                <input type="text" formControlName="user" class="form-control" placeholder="user">
                            </div>
                            <div class="col-lg-4">
                                <label>Display Name:</label>
                                <input type="text" formControlName="display_name" class="form-control" placeholder="Display Name">
                            </div>
                            <div class="col-lg-4">
                                <label>Extension:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                    </div>
                                    <input type="text" formControlName="extension" class="form-control" placeholder="extension">
                                </div>
                            </div>
                        </div>
                        <div class="form-group-row">
                            <div class="col-lg-4">
                                <span class="switch switch-brand">
                                    <label for="exampleSelectd">Lab:</label>
                                    <label style="margin-left: 10px;">
                                        <input formControlName="lab"  type="checkbox" checked="checked" >
                                        <span></span>
                                </label>
                                </span>
                            </div>
                            <div class="col-lg-4">
                                <span class="switch switch-brand">
                                    <label for="exampleSelectd">Field Service:  </label>
                                    <label style="margin-left: 10px;">
                                        <input formControlName="fieldService" type="checkbox" checked="checked" >
                                        <span></span>
                                </label>
                                </span>
                            </div>
                            <div class="col-lg-5">
                                <span class="switch switch-brand">
                                    <label for="exampleSelectd">Phone Support:  </label>
                                    <label style="margin-left: 10px;">
                                        <input formControlName="phonesupport" type="checkbox" checked="checked" >
                                        <span></span>
                                </label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-lg-4"></div>
                            <div class="col-lg-8">
                                <button type="button" class="btn btn-primary mr-2" style="float: right;" (click)="submit()">Submit</button>
                                <button type="button" class="btn btn-secondary" style="float: right; margin-right: 10px;" (click)="close()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>